<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 mb-4">
        <h5>ATC Resume Builder</h5>
        <p>Your go-to tool for creating ATS-friendly resumes that land jobs.</p>
      </div>
      <div class="col-md-2 col-sm-6 mb-4">
        <h5>Quick Links</h5>
        <ul>
          <li><a href="{{ url_for('index') }}">Home</a></li>
          <li><a href="{{ url_for('build_resume') }}">Build Resume</a></li>
          <li><a href="{{ url_for('contact') }}">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 mb-4">
        <h5>Resources</h5>
        <ul>
          <li><a href="{{ url_for('blog') }}">Blog</a></li>
          <li><a href="{{ url_for('tips') }}">Resume Tips</a></li>
          <li><a href="{{ url_for('faq') }}">FAQ</a></li>
          <li><a href="{{ url_for('support') }}">Support</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 mb-4">
        <h5>Contact Us</h5>
        <ul>
          <li>
            <a href="mailto:dropafile07@gmail.com">dropafile07@gmail.com</a>
          </li>
          <li>Bengaluru,Karnataka</li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom text-center">
      <p>© {{ year }} ATC Resume Builder. All rights reserved.</p>
      <p>
        <strong>Designed By:<i>Prajwal A B</i></strong>
      </p>
    </div>
  </div>
</footer>
